body {
    background-color: #25294A;
    overflow: hidden;
}


#landing {
    height: 100vh;
    width: 95vw;
}
@media screen and (min-width: 933px) {
    #landing {
        display: flex;
    }

    #left {
        /* display: flex; */
        flex-direction: column; /* Stack items vertically */
        justify-content: center; /* Center horizontally */
    }

    #right {
        width: 110vw;
    }

    .paimon{
        margin-top: 5vh;
        margin-left: 5vh;
        width: 100%;
        height: 100%;
    }

    .title {
        text-align: center;
        margin-top: 10vh;
        margin-left: 5vh;
        padding-left: 30px;
        padding-right: 30px;
        color: #e1d4c6;
    }
}
@media screen and (max-width: 932px) {
    #left {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        justify-content: center; /* Center horizontally */
    }
    .title {
        text-align: center;
        color: #e1d4c6;
    }
}
/*buttons*/
.rounded-button, .home-button{
    height: 50px;
    width: 500px;
    margin-top: 10vh;
    margin-left: 15vh;
    border-radius: 50px;
    background-color: #D8CDB9;
    color: #485365;
    border: solid #CCBB9A;
    font-size: 20px;
    cursor: pointer;
    font-family: monospace;
    transition: background-color 0.3s;
    font-weight: bold;
}
.home-button{
    height:100px;
    width:100%;
    background-color:white;
    color:black;
    border: solid black;
}
.home-button:hover{
    background-color:black;
    color:white;
}
#genshin:hover{
    background-color: #485365;
    color:#e1d4c6;
}